<p id="notice"><%= notice %></p>

<div class= "image_pets" >
<%= image_tag(@pet.image) %>
</div>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @pet.sex %>
</p>

<p>
  <strong>Species:</strong>
  <%= @pet.species %>
</p>

<p>
  <strong>birth_date:</strong>
  <%= @pet.birth_date %>
</p>

<p>
  <strong>Age info:</strong>
  <%= @pet.age_info %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Children friendly:</strong>
  <%= @pet.children_friendly %>
</p>

<p>
  <strong>Allergic friendly:</strong>
  <%= @pet.allergic_friendly %>
</p>

<p>
  <strong>Dog friendly:</strong>
  <%= @pet.dog_friendly %>
</p>

<p>
  <strong>Cat friendly:</strong>
  <%= @pet.cat_friendly %>
</p>

<p>
  <strong>Sterilized:</strong>
  <%= @pet.sterilized %>
</p>

<p>
  <strong>Microchipped:</strong>
  <%= @pet.microchipped %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
