<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label "Nazwa" %><br />
    <%= f.text_field :name, autofocus: true, placeholder: "Nazwa" %>
  </div>

  <div class="field">
    <%= f.label "Adres" %><br />
    <%= f.text_field :address, placeholder: "Adres" %>
  </div>

  <div class="field">
    <%= f.label "Numer telefonu" %><br />
    <%= f.telephone_field :phone_number %>
  </div>
  
  <div class="field">
    <%= f.label "E-mail" %><br />
    <%= f.email_field :email, placeholder: "email" %>
  </div>

  <div class="field">
    <%= f.label "Hasło" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, placeholder: "new-password" %>
  </div>

  <div class="field">
    <%= f.label "Potwierdź hasło" %><br />
    <%= f.password_field :password_confirmation, placeholder: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "shelters/shared/links" %>
